{% load static %}
<footer class="footer container">
    <div class="footer__aboutUS">
        <img src="{% static 'asssets/images/gerb.png' %}" alt="">
        <div class="footer__about--more">
            <h3>Biz Haqimizda</h3>
            <p>Muzrobot tumani Sanitariya-epidemiologik osoyishtalik va jamoat salomatligi boshqarmasi</p>
            <h6>Biz bilan bog'lanish: <a href="#!">text@mail.uz</a></h6>
        </div>			  
    </div>
    <div class="footer__social">
        <h3>Bizga Qo'shiling</h3>
        <ul>
          <li><i class="fab fa-facebook-f"></i></li>
          <li><i class="fab fa-telegram"></i></li>
          
          
       </ul>
    </div>
</footer>