{% load static %}
<footer class="footer container">
    <div class="footer__aboutUS">
        <img src="{% static 'asssets/images/gerb.png' %}" alt="">
        <div class="footer__about--more">
            <h3>Biz Haqimizda</h3>
            <p>Qiziriq tumani Sanitariya-epidemiologik osoyishtalik va jamoat salomatligi boshqarmasi</p>
            <h6>Biz bilan bog'lanish: <a href="mailto:qiziriqsanepid@gmail.com">qiziriqsanepid@gmail.com</a></h6>
        </div>			  
    </div>
    <div class="footer__social">
        <h3>Bizga Qo'shiling</h3>
        <ul>
          <li><a href="https://www.facebook.com/profile.php?id=100087155043490" style="background-color: none;text-decoration: none; color: none;"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://t.me/qiziriqsanepid" style="background-color: none;text-decoration: none; color: none;"><i class="fab fa-telegram"></i></a></li>
       </ul>
    </div>
</footer>