{% load static %}
<nav class="navbar ">
    <div class="navbar--banner container">
        <a href="{% url 'home' %}" class="navbar--banner__name">Sho'rchisanepid
            </a>
        <img src="{% static 'asssets/images/gerb.png' %}" alt="" class="navbar--banner__img">
        <p class="navbar--banner__theme">SHO'RCHI TUMANI SANITARIYA-EPIDEMIOLOGIK OSOYISHTALIK VA JAMOAT SALOMATLIGI BO‘LIMI</p>
    </div>
    <div  class="navbar--list container">
        <div class="navbar__menu-button">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="navbar--list__pages">
            <li class="navbar--list__social"><a href="#!"><span class="instagram"></span> <span class="telegram"></span></a><a href="#!"></a><a href="#!" class="exit"><span class="icon-exit"></span></a></li>
            <li><a href="{% url 'home' %}">Bosh Sahifa</a></li>
            <li class="navbar__uptodwn--click "><a href="#!" class="navbar__uptdown-href">QiziriqSanEpid <span class="icon-chevrone"></span></a>
                    <ul class="navbar--list__updown">
                        <li><a href="{% url 'rahbarlar' %}">Rahbariyat</a></li>
                        <li><a href="#!">Hujjatlar</a></li>
                        <li><a href="{% url 'posts_by_category' 'salomatlik' %}">Salomatlik</a></li>
                        <li class="navbar--list__covid"><a href="{% url 'posts_by_category' 'covid' %}" >Covid-19 <span class="icon-chevrone"></span></a>
                            <ul class="navbar--covid__uptdown">
                                <li><a href="#!">COVID-19 | SAVOL JAVOBLAR</a></li>
                            </ul>
                        </li>
                    </ul>
            </li>
            <li><a href="{% url 'posts_by_category' 'profilaktika' %}">Profilaktika</a></li>
            <li><a href="{% url 'contact-informations' %}">Bog’lanish</a></li>
            <li><a href="{% url 'posts_by_category' 'korruptsiya' %}">Korrupsiyaga qarshi kurash</a></li>
            <li><a href="{% url 'contact' %}">Murojaat yuborish</a></li>
        </ul>
        <a href="#!" class="navbar--list__name">Sho'rchisanepid</a>

        <li class=" navbar--list__search "><a href="#!" class="icon-search"></a>
            <form action="{% url 'home' %}" method="get" class="navbar--form">
                <input type="text" name="qidirish">
                <button type="submit">Qidirish</button>
            </form>
        </li>

    </div>
</nav>