{% extends 'base/base.html' %} 
{% load static %}
{% block content %}
	  <section class="article container">
		  <div class="contact--info" >
			<div class="head--router">
				<a href="index.html">Bosh sahifa</a>
				<span class="icon-chevrone"></span>
				<p>Profilaktika</p>
			</div>
			<div class="contact--info--more">
				<h3>Bog‘lanish</h3>
				<p><span>Manzil:</span>190102, Termiz shahri, Islom Karimov ko‘chasi 1-burilish, 1-uy.</p>
				<p><span>Telefon:</span>(76) 223 32 08</p>
				<p><span>Faks:</span> (76) 223 34 82</p>
				<p><span>Mo‘ljal:</span>Toshkent tibbiyot akademiyasi Termiz filiali yoni</p>
				<p><span>Avtobuslar:</span> 7-avtobus</p>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11987.654746375087!2d69.32680696249005!3d41.31074127763404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8aed675aaaab%3A0xc555e27961ffc984!2z0KbQtdC90YLRgCDQvtGA0YLQvtC_0LXQtNC40Lgg0Lgg0L_QvtC00L7Qu9C-0LPQuNC4IEhlYWx0aCBMaW5l!5e0!3m2!1sru!2s!4v1665142684791!5m2!1sru!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			  			  
		</div>
			<div class="slider  article--other" >
				<h3>Tasodifiy maqolalar</h3>
				<div class="slider-list">
					<div class="slider-list__item">
					  {% for post in random_posts %}
						  <article class="article--other__item">
							  <div class="article--otherItem__img">
								  <img src="{{post.image.url}}" alt="">
								  <span>uncategorized</span>
							  </div>
							  <h4>{{post.title}}</h4>
							  <a href="{% url 'post_detail' post.created_at.year post.created_at.month post.created_at.day post.slug %}" class="article--otherItem__link"></a>
						  </article>
					  {% endfor %}
					</div>
					<div class="slider-list__item">
					  {% for post in random_posts %}
						  <article class="article--other__item">
							  <div class="article--otherItem__img">
								  <img src="{{post.image.url}}" alt="">
								  <span>uncategorized</span>
							  </div>
							  <h4>{{post.title}}</h4>
							  <a href="{% url 'post_detail' post.created_at.year post.created_at.month post.created_at.day post.slug %}" class="article--otherItem__link"></a>
						  </article>
					  {% endfor %}
					</div>
					
				  </div>
				<div class="slider-controllers">
				  <button type="button" class="slider-btn prevv icon-Circlechevrone"></button>
				  <button type="button" class="slider-btn nextt icon-Circlechevrone"></button>
				</div>			  
		</div>

	  </section>
{% endblock %}