{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MirobodSEO</title>
	<link rel="shortcut icon" href="{% static 'images/gerb.png' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/splide-core.min.css' %}">
	<script src="{% static 'js/splide.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>
	
	<nav class="navbar ">
		<div class="navbar--banner container">
			<a href="index.html" class="navbar--banner__name">MUZRABOT
				
				Sanepid</a>
			<img src="asssets/images/gerb.png" alt="" class="navbar--banner__img">
			<p class="navbar--banner__theme">MUZRABOT TUMAN SANITARIYA-EPIDEMIOLOGIK OSOYISHTALIK VA JAMOAT SALOMATLIGI BO‘LIMI</p>
		</div>
		<div  class="navbar--list container">
			<div class="navbar__menu-button">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<ul class="navbar--list__pages">
				<li class="navbar--list__social"><a href="#!"><span class="instagram"></span> <span class="telegram"></span></a><a href="#!"></a><a href="#!" class="exit"><span class="icon-exit"></span></a></li>
				<li><a href="index.html">Bosh Sahifa</a></li>
				<li class="navbar__uptodwn--click "><a href="#!" class="navbar__uptdown-href">MuzrabotSanEpid <span class="icon-chevrone"></span></a>
						<ul class="navbar--list__updown">
							<li><a href="#!">Hududiy Markazlar</a></li>
							<li><a href="#!">Rahbariyat</a></li>
							<li><a href="#!">Hujjatlar</a></li>
							<li><a href="#!">Salomatlik</a></li>
							<li class="navbar--list__covid"><a href="#!" >Covid-19 <span class="icon-chevrone"></span></a>
								<ul class="navbar--covid__uptdown">
									<li><a href="#!">COVID-19 | SAVOL JAVOBLAR</a></li>
								</ul>
							</li>
						</ul>
				</li>
				<li><a href="categoryPage.html">Profilaktika</a></li>
				<li><a href="contactUsInformation.html">Bog’lanish</a></li>
				<li><a href="#!">Korrupsiyaga qarshi kurash</a></li>
				<li><a href="contactus.html">Murojaat yuborish</a></li>
			</ul>
			<a href="#!" class="navbar--list__name">MuzrabotSeo</a>

			<li class=" navbar--list__search "><a href="#!" class="icon-search"></a>
				<form action="" class="navbar--form">
					<input type="text" autocomplete="off">
					<button type="submit">Qidirish</button>
				</form>
			</li>

		</div>
	</nav>
	<section class="splide container" aria-label="Splide Basic HTML Example">
		<div class="splide__arrows ">
			<button class="splide__arrow splide__arrow--prev icon-Circlechevrone prev">				
			</button>
			<button class="splide__arrow splide__arrow--next icon-Circlechevrone next">
				
			</button>
	  </div>
		<div class="splide__track">
			  <ul class="splide__list">
				  <li class="splide__slide slide-swap">
					  <div class="slide--swap__item">
						  <img src="asssets/images/Most-popular-Telegram-bots-324x235.jpg" alt="" class="swap--item__img">
						  <div class="swap--item--details">
								<h3 class="swipe__item--theme">Korrupsiyaga qarshi ichki Nazorat guruhi faoliyati tog'risida Nizom</h3>
							  <h4>Admin <span>- Sentabr 24, 22</span> </h4>
							  <p></p>
						  </div>
						  <div class="swap--item__category">Korrupsiyaga qarshi kurash</div>
						  <a href="#!" class="swap--item__link"></a>
						</div>
					  <div class="slide--swap__item">
						  <img src="asssets/images/photo_2021-07-26_19-00-47-324x235.jpg" alt="" class="swap--item__img">
						  <div class="swap--item--details">
								<h3 class="swipe__item--theme">MUZRABOTDA OZIQ-OVQAT MAHSULOTLARI “SIFAT HAFTALIGI” START OLDI</h3>
							  <h4>Admin <span>- Sentabr 24, 22</span> </h4>
							  <p></p>
						  </div>
						  <div class="swap--item__category">Korrupsiyaga qarshi kurash</div>
						  <a href="#!" class="swap--item__link"></a>
						</div>
					  <div class="slide--swap__item">
						  <img src="asssets/images/photo_2021-05-26_11-15-28-218x150.jpg" alt="" class="swap--item__img">
						  <div class="swap--item--details">
								<h3 class="swipe__item--theme">KO‘СHATLAR EKILDI</h3>
							  <h4>Admin <span>- Sentabr 24, 22</span> </h4>
							  <p></p>
						  </div>
						  <div class="swap--item__category">Korrupsiyaga qarshi kurash</div>
						  <a href="#!" class="swap--item__link"></a>
						</div>
					  <div class="slide--swap__item">
						  <img src="asssets/images/photo_2021-11-22_16-05-48-218x150.jpg" alt="" class="swap--item__img">
						  <div class="swap--item--details">
								<h3 class="swipe__item--theme">Muzrabotgaga olib kelingan 181 ming 440 doza Moderna vaksinasi barcha tumanlarga tarqatildi</h3>
							  <h4>Admin <span>- Sentabr 24, 22</span> </h4>
							  <p></p>
						  </div>
						  <div class="swap--item__category">Korrupsiyaga qarshi kurash</div>
						  <a href="#!" class="swap--item__link"></a>
						</div>
					  
				  </li>
				  <li class="splide__slide slide-swap">
					  <div class="slide--swap__item">
						  <img src="asssets/images/photo_2021-11-22_16-05-48-324x235.jpg" alt="" class="swap--item__img">
						  <div class="swap--item--details">
								<h3 class="swipe__item--theme">Muzrabotdada kechayotgan Prezident maktabi imtihonlarida o’quvchilarning ota- onalari ixtiyoriy emlandi</h3>
							  <h4>Admin <span>- Sentabr 24, 22</span> </h4>
							  <p></p>
						  </div>
						  <div class="swap--item__category">Korrupsiyaga qarshi kurash</div>
						  <a href="#!" class="swap--item__link"></a>
						</div>
					  <div class="slide--swap__item">
						  <img src="asssets/images/photo_2021-08-05_10-36-37-324x235.jpg" alt="" class="swap--item__img">
						  <div class="swap--item--details">
								<h3 class="swipe__item--theme">Tarbiyadagi xatolar, boladagi injiqlik va gadjetlar – bolalar psixologi bilan suhbat</h3>
							  <h4>Admin <span>- Sentabr 24, 22</span> </h4>
							  <p></p>
						  </div>
						  <div class="swap--item__category">Korrupsiyaga qarshi kurash</div>
						  <a href="#!" class="swap--item__link"></a>
						</div>
					  <div class="slide--swap__item">
						  <img src="asssets/images/photo_2021-05-26_11-15-28-218x150.jpg" alt="" class="swap--item__img">
						  <div class="swap--item--details">
								<h3 class="swipe__item--theme">Koronavirus (Covid-19) kasalligi — JSST ko’rsatmalari</h3>
							  <h4>Admin <span>- Sentabr 24, 22</span> </h4>
							  <p></p>
						  </div>
						  <div class="swap--item__category">Korrupsiyaga qarshi kurash</div>
						  <a href="#!" class="swap--item__link"></a>
						</div>
					  <div class="slide--swap__item">
						  <img src="asssets/images/photo_2021-02-24_21-47-21-218x150.jpg" alt="" class="swap--item__img">
						  <div class="swap--item--details">
								<h3 class="swipe__item--theme">40 ming doza AstraZeneca vaksinasi Muzrabotgaga olib kelindi</h3>
							  <h4>Admin <span>- Sentabr 24, 22</span> </h4>
							  <p></p>
						  </div>
						  <div class="swap--item__category">Korrupsiyaga qarshi kurash</div>
						  <a href="#!" class="swap--item__link"></a>
						</div>
					  
				  </li>
				  
				  
				  
			  </ul>
		</div>
	  </section>

	  <section class="article container">
		  <div class="slider article--last" >
			<div class="popular__theme">
				<h3>So‘nggi habarlar</h3>
				  <a href="#!">Barchani ko'rish</a>
			</div>
			  <div class="slider-list">
				<div class="slider-list__item">
					<article class="article--last__item">
						<div class="article--lastItem__img">
							<img src="asssets/images/Most-popular-Telegram-bots-324x235.jpg" alt="">
						</div>
						<div class="article--lastItem__details">
							<a href="#!">Коррупцияга қарши ички назорат гурухи фаолияти тўғрисида НИЗОМ</a>
							<h6><a href="#!" class="article--last__category">Korrupsiyaga qarshi kurash</a> sentabr 24, 2022</h6>
							<p>Санитария-эпидемиологик осойишталик ва жамоат саломатлиги хизматининг 2022 йил 18 апрелдаги -сон буйруғига 1-илова     Коррупцияга қарши ички назорат гурухи фаолияти тўғрисида НИЗОМ   Ушбу Низом Ўзбекистон Республикаси Президентининг 2021 йил 6 июлдаги “Коррупцияга қарши курашиш фаолиятини самарали ташкил этишга доир қўшимча...</p>
							<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
						</div>
					</article>
					<article class="article--last__item">
						<div class="article--lastItem__img">
							<img src="asssets/images/photo_2021-02-24_21-47-21-218x150.jpg" alt="">
						</div>
						<div class="article--lastItem__details">
							<a href="#!">muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</a>
							<h6><a href="#!" class="article--last__category">Korrupsiyaga qarshi kurash</a> sentabr 24, 2022</h6>
							<p>Bugun, 26-iyul kuni Termiz shahrida joylashgan Olimpiya zaxiralari kollejining ochiq maydonlarida o'quvchilarni Prezident maktabiga qabul qilish uchun davlatimtihonlariga start berildi. Kunning ikki qismida tashkillashtirilgan imtihonlarga muzrabot viloyatining barcha tumanlaridan maktab o'quvchilari va ularning ota-onalari...</p>
							<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
						</div>
					</article>
					<article class="article--last__item">
						<div class="article--lastItem__img">
							<img src="asssets/images/photo_2021-11-22_16-05-48-324x235.jpg" alt="">
						</div>
						<div class="article--lastItem__details">
							<a href="#!">MUZRABOTDA OZIQ-OVQAT MAHSULOTLARI “SIFAT HAFTALIGI” START OLDI</a>
							<h6><a href="#!" class="article--last__category">Korrupsiyaga qarshi kurash</a> sentabr 24, 2022</h6>
							<p>O'zbekiston Respublikasi Prezidentining 2020 yil 10 noyabrda qabul qilingan “Aholining sog'lom ovqatlanishini ta'minlash bo'yicha qo'shimcha chora-tadbirlar to'g'risida”gi 4887-sonli qarorida O'zbekiston Respublikasi Qishloq xo'jaligi vazirligi, O'zbekiston Respublikasi Monopoliyaga qarshi kurashish qo'mitasi huzuridagi Iste'molchilar huquqlarini himoya..</p>
							<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
						</div>
					</article>
					<article class="article--last__item">
						<div class="article--lastItem__img">
							<img src="asssets/images/HDgDPkpyldqI185hceLB6L3Xo1vE2351-218x150.jpg" alt="">
						</div>
						<div class="article--lastItem__details">
							<a href="#!">KO‘СHATLAR EKILDI</a>
							<h6><a href="#!" class="article--last__category">Korrupsiyaga qarshi kurash</a> sentabr 24, 2022</h6>
							<p>Prezident Shavkat Mirziyoev shaharlar, tuman markazlari hamda aholi punktlarida ekologik vaziyat va havo tozaligini yaxshilash maqsadida «Yashil makon» umummilliy loyihasini amalga oshirishga bag'ishlangan videoselektorda 10 dekabrga qadar daraxt ekish bo'yicha «dolzarb 40 kunlik» e'lon qilinishini ma'lum qildi. Ushbu loyiha...</p>
							<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
						</div>
					</article>
					
				</div>
				<div class="slider-list__item">
					<article class="article--last__item">
						<div class="article--lastItem__img">
							<img src="asssets/images/photo_2021-05-26_11-15-28-218x150.jpg" alt="">
						</div>
						<div class="article--lastItem__details">
							<a href="#!">muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</a>
							<h6><a href="#!" class="article--last__category">Korrupsiyaga qarshi kurash</a> sentabr 24, 2022</h6>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quam ipsam nihil nobis nemo corporis libero tempore maiores eos obcaecati!</p>
							<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
						</div>
					</article>
					<article class="article--last__item">
						<div class="article--lastItem__img">
							<img src="asssets/images/photo_2021-07-26_19-00-47-324x235.jpg" alt="">
						</div>
						<div class="article--lastItem__details">
							<a href="#!">Muzrabotgaga olib kelingan 181 ming 440 doza Moderna vaksinasi barcha tumanlarga tarqatildi</a>
							<h6><a href="#!" class="article--last__category">Korrupsiyaga qarshi kurash</a> sentabr 24, 2022</h6>
							<p>Prezident Shavkat Mirziyoev shaharlar, tuman markazlari hamda aholi punktlarida ekologik vaziyat va havo tozaligini yaxshilash maqsadida «Yashil makon» umummilliy loyihasini amalga oshirishga bag'ishlangan videoselektorda 10 dekabrga qadar daraxt ekish bo'yicha «dolzarb 40 kunlik» e'lon qilinishini ma'lum qildi. Ushbu loyiha...</p>
							<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
						</div>
					</article>
					<article class="article--last__item">
						<div class="article--lastItem__img">
							<img src="asssets/images/photo_2021-08-05_10-36-37-324x235.jpg" alt="">
						</div>
						<div class="article--lastItem__details">
							<a href="#!">Muzrabotga olib kelingan 181 ming 440 doza Moderna vaksinasi barcha tumanlarga tarqatildi</a>
							<h6><a href="#!" class="article--last__category">Korrupsiyaga qarshi kurash</a> sentabr 24, 2022</h6>
							<p>Joriy yilning 2-avgust kuni muzrabot viloyatiga olib kelingan "COVID-19"ga qarshi 181 ming 440 doza Moderna vaksinasi barcha tumanlarga tarqatildi. Dastavval, viloyat Sanitariya-epidemiologik osoyishtalik va jamoat salomatligi boshqarmasi bakpreparatlarni saqlash omborxonasida vaksinaning xususiyatlari haqida mutaxassislarga yo'riqnoma berildi. Vohadoshlarimiz AQSH...</p>
							<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
						</div>
					</article>
					
				</div>
				
			  </div>
			  <div class="slider-controllers">
				<button type="button" class="slider-btn prevv icon-Circlechevrone"></button>
				<button type="button" class="slider-btn nextt icon-Circlechevrone"></button>
			  </div>			  
		</div>
			<div class="slider  article--other" >
				<h3>Tasodifiy maqolalar</h3>
				<div class="slider-list">
				  <div class="slider-list__item">
					<article class="article--other__item">
						<div class="article--otherItem__img">
							<img src="asssets/images/photo_2021-02-24_21-47-21-218x150.jpg" alt="">
							<span>uncategorized</span>
						</div>
						<h4>Коррупцияга қарши ички назорат гурухи фаолияти тўғрисида НИЗОМ</h4>
						<a href="#!" class="article--otherItem__link"></a>
					</article>
					<article class="article--other__item">
						<div class="article--otherItem__img">
							<img src="asssets/images/photo_2021-11-22_16-05-48-324x235.jpg" alt="">
							<span>uncategorized</span>
						</div>
						<h4>muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</h4>
					</article>
					<article class="article--other__item">
						<div class="article--otherItem__img">
							<img src="asssets/images/HDgDPkpyldqI185hceLB6L3Xo1vE2351-218x150.jpg" alt="">
							<span>uncategorized</span>
						</div>
						<h4>MUZRABOTDA OZIQ-OVQAT MAHSULOTLARI “SIFAT HAFTALIGI” START OLDI</h4>
					</article>
					<article class="article--other__item">
						<div class="article--otherItem__img">
							<img src="asssets/images/photo_2021-03-19_11-17-57-324x235.jpg" alt="">
							<span>uncategorized</span>
						</div>
						<h4>KO‘СHATLAR EKILDI</h4>
					</article>
					<article class="article--other__item">
						<div class="article--otherItem__img">
							<img src="asssets/images/photo_2021-05-26_11-15-28-218x150.jpg" alt="">
							<span>uncategorized</span>
						</div>
						<h4>muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</h4>
					</article>
					<article class="article--other__item">
						<div class="article--otherItem__img">
							<img src="asssets/images/photo_2021-07-26_19-00-47-324x235.jpg" alt="">
							<span>uncategorized</span>
						</div>
						<h4>Muzrabotgaga olib kelingan 181 ming 440 doza Moderna vaksinasi</h4>
					</article>
				  </div>
				  <div class="slider-list__item">
					<article class="article--other__item">
						<div class="article--otherItem__img">
							<img src="asssets/images/photo_2021-08-05_10-36-37-324x235.jpg" alt="">
							<span>uncategorized</span>
						</div>
						<h4>muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</h4>
						<a href="#!" class="article--otherItem__link"></a>
					</article>
					<article class="article--other__item">
						<div class="article--otherItem__img">
							<img src="asssets/images/photo_2021-11-13_21-09-17-324x235.jpg" alt="">
							<span>uncategorized</span>
						</div>
						<h4>muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</h4>
					</article>
					<article class="article--other__item">
						<div class="article--otherItem__img">
							<img src="asssets/images/photo_2021-11-22_16-05-48-218x150.jpg" alt="">
							<span>uncategorized</span>
						</div>
						<h4>muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</h4>
					</article>
					<article class="article--other__item">
						<div class="article--otherItem__img">
							<img src="asssets/images/photo_2021-02-24_21-47-21-218x150.jpg" alt="">
							<span>uncategorized</span>
						</div>
						<h4>muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</h4>
					</article>
					<article class="article--other__item">
						<div class="article--otherItem__img">
							<img src="asssets/images/HDgDPkpyldqI185hceLB6L3Xo1vE2351-218x150.jpg" alt="">
							<span>uncategorized</span>
						</div>
						<h4>muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</h4>
					</article>
				  </div>
				  
				</div>
				<div class="slider-controllers">
				  <button type="button" class="slider-btn prevv icon-Circlechevrone"></button>
				  <button type="button" class="slider-btn nextt icon-Circlechevrone"></button>
				</div>			  
		</div>

	  </section>

	  <section class="popular container">
		  <div class="popular__theme">
			  <h3>Mashhur maqolalar</h3>
				<a href="#!">Barchani ko'rish</a>
		  </div>
		  <div class="slider container ">
			<div class="slider-list">
		  		<div class="slider-list__item popular--list__item">
					<article class="popular--item">
						<div class="popular--item__img">
							<img src="asssets/images/photo_2021-08-05_10-36-37-324x235.jpg" alt="">
							<a href="#!">uncategorized</a>
						</div>
						<div class="popular--lastItem__details">
							<a href="#!">Muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildii</a>
							<div class="popilar--details--other">
								<p><span>Admin</span> - Sentabr 28, 2021</p>
								<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
							</div>
						</div>
					</article>
					<article class="popular--item">
						<div class="popular--item__img">
							<img src="asssets/images/photo_2021-05-26_11-15-28-218x150.jpg" alt="">
							<a href="#!">uncategorized</a>
						</div>
						<div class="popular--lastItem__details">
							<a href="#!">muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</a>
							<div class="popilar--details--other">
								<p><span>Admin</span> - Sentabr 28, 2021</p>
								<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
							</div>
						</div>
					</article>
					<article class="popular--item">
						<div class="popular--item__img">
							<img src="asssets/images/photo_2021-03-19_11-17-57-324x235.jpg" alt="">
							<a href="#!">uncategorized</a>
						</div>
						<div class="popular--lastItem__details">
							<a href="#!">muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</a>
							<div class="popilar--details--other">
								<p><span>Admin</span> - Sentabr 28, 2021</p>
								<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
							</div>
						</div>
					</article>
					<article class="popular--item">
						<div class="popular--item__img">
							<img src="asssets/images/photo_2021-02-24_21-47-21-218x150.jpg" alt="">
							<a href="#!">uncategorized</a>
						</div>
						<div class="popular--lastItem__details">
							<a href="#!">muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</a>
							<div class="popilar--details--other">
								<p><span>Admin</span> - Sentabr 28, 2021</p>
								<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
							</div>
						</div>
					</article>
					<article class="popular--item">
						<div class="popular--item__img">
							<img src="asssets/images/photo_2021-11-22_16-05-48-324x235.jpg" alt="">
							<a href="#!">uncategorized</a>
						</div>
						<div class="popular--lastItem__details">
							<a href="#!">muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</a>
							<div class="popilar--details--other">
								<p><span>Admin</span> - Sentabr 28, 2021</p>
								<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
							</div>
						</div>
					</article>
					<article class="popular--item">
						<div class="popular--item__img">
							<img src="asssets/images/photo_2021-11-22_16-05-48-218x150.jpg" alt="">
							<a href="#!">uncategorized</a>
						</div>
						<div class="popular--lastItem__details">
							<a href="#!">muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</a>
							<div class="popilar--details--other">
								<p><span>Admin</span> - Sentabr 28, 2021</p>
								<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
							</div>
						</div>
					</article>
				  </div>
		  		<div class="slider-list__item popular--list__item">
					<article class="popular--item">
						<div class="popular--item__img">
							<img src="asssets/images/photo_2021-11-13_21-09-17-324x235.jpg" alt="">
							<a href="#!">uncategorized</a>
						</div>
						<div class="popular--lastItem__details">
							<a href="#!">muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</a>
							<div class="popilar--details--other">
								<p><span>Admin</span> - Sentabr 28, 2021</p>
								<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
							</div>
						</div>
					</article>
					<article class="popular--item">
						<div class="popular--item__img">
							<img src="asssets/images/HDgDPkpyldqI185hceLB6L3Xo1vE2351-218x150.jpg" alt="">
							<a href="#!">uncategorized</a>
						</div>
						<div class="popular--lastItem__details">
							<a href="#!">muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</a>
							<div class="popilar--details--other">
								<p><span>Admin</span> - Sentabr 28, 2021</p>
								<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
							</div>
						</div>
					</article>
					<article class="popular--item">
						<div class="popular--item__img">
							<img src="asssets/images/photo_2021-11-13_21-09-17-324x235.jpg" alt="">
							<a href="#!">uncategorized</a>
						</div>
						<div class="popular--lastItem__details">
							<a href="#!">muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</a>
							<div class="popilar--details--other">
								<p><span>Admin</span> - Sentabr 28, 2021</p>
								<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
							</div>
						</div>
					</article>
					<article class="popular--item">
						<div class="popular--item__img">
							<img src="asssets/images/photo_2021-08-05_10-36-37-324x235.jpg" alt="">
							<a href="#!">uncategorized</a>
						</div>
						<div class="popular--lastItem__details">
							<a href="#!">muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</a>
							<div class="popilar--details--other">
								<p><span>Admin</span> - Sentabr 28, 2021</p>
								<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
							</div>
						</div>
					</article>
					<article class="popular--item">
						<div class="popular--item__img">
							<img src="asssets/images/photo_2021-05-26_11-15-28-218x150.jpg" alt="">
							<a href="#!">uncategorized</a>
						</div>
						<div class="popular--lastItem__details">
							<a href="#!">muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</a>
							<div class="popilar--details--other">
								<p><span>Admin</span> - Sentabr 28, 2021</p>
								<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
							</div>
						</div>
					</article>
					<article class="popular--item">
						<div class="popular--item__img">
							<img src="asssets/images/photo_2021-03-19_11-17-57-324x235.jpg" alt="">
							<a href="#!">uncategorized</a>
						</div>
						<div class="popular--lastItem__details">
							<a href="#!">muzrabotga 900 doza “Sputnik V» vaktsinasi keltirildi</a>
							<div class="popilar--details--other">
								<p><span>Admin</span> - Sentabr 28, 2021</p>
								<a href="#!" class="article--last__comment icon-comment"> <span>0</span></a>
							</div>
						</div>
					</article>
				  </div>
		  		
			</div>
			<div class="slider-controllers">
		  	<button type="button" class="slider-btn prevv icon-Circlechevrone"></button>
		  	<button type="button" class="slider-btn nextt icon-Circlechevrone"></button>
			</div>
		
	  </div>
		  
		 
	  </section>


	  <footer class="footer container">
		  <div class="footer__aboutUS">
			  <img src="{% static 'images/gerb.png' %}" alt="">
			  <div class="footer__about--more">
				  <h3>Biz Haqimizda</h3>
				  <p>Muzrobot tumani Sanitariya-epidemiologik osoyishtalik va jamoat salomatligi boshqarmasi</p>
				  <h6>Biz bilan bog'lanish: <a href="#!">text@mail.uz</a></h6>
			  </div>			  
		  </div>
		  <div class="footer__social">
			  <h3>Bizga Qo'shiling</h3>
			  <ul>
				<li><i class="fab fa-facebook-f"></i></li>
				<li><i class="fab fa-telegram"></i></li>
				<li><i class="fab fa-instagram"></i></li>
				
			 </ul>
		  </div>
	  </footer>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>