{% extends 'base/base.html' %} {% load static %} {% block content %}
	<section class="splide container categroty" aria-label="Splide Basic HTML Example">
		<div class="splide__arrows ">
			<button class="splide__arrow splide__arrow--prev icon-Circlechevrone prev">				
			</button>
			<button class="splide__arrow splide__arrow--next icon-Circlechevrone next">
				
			</button>
	  </div>
		<div class="splide__track">
			  <ul class="splide__list">
				  <li class="splide__slide slide-swap">
					  <div class="slide--swap__item">
						  <img src="asssets/images/Most-popular-Telegram-bots-324x235.jpg" alt="" class="swap--item__img">
						  <div class="swap--item--details">
								<h3 class="swipe__item--theme">Korrupsiyaga qarshi ichki Nazorat guruhi faoliyati tog'risida Nizom</h3>
							  <h4>Admin <span>- Sentabr 24, 22</span> </h4>
							  <p></p>
						  </div>
						  <div class="swap--item__category">Korrupsiyaga qarshi kurash</div>
						  <a href="#!" class="swap--item__link"></a>
						</div>
					  <div class="slide--swap__item">
						  <img src="asssets/images/photo_2021-07-26_19-00-47-324x235.jpg" alt="" class="swap--item__img">
						  <div class="swap--item--details">
								<h3 class="swipe__item--theme">OLTINSOYGA OZIQ-OVQAT MAHSULOTLARI “SIFAT HAFTALIGI” START OLDI</h3>
							  <h4>Admin <span>- Sentabr 24, 22</span> </h4>
							  <p></p>
						  </div>
						  <div class="swap--item__category">Korrupsiyaga qarshi kurash</div>
						  <a href="#!" class="swap--item__link"></a>
						</div>
					  <div class="slide--swap__item">
						  <img src="asssets/images/photo_2021-05-26_11-15-28-218x150.jpg" alt="" class="swap--item__img">
						  <div class="swap--item--details">
								<h3 class="swipe__item--theme">KO‘СHATLAR EKILDI</h3>
							  <h4>Admin <span>- Sentabr 24, 22</span> </h4>
							  <p></p>
						  </div>
						  <div class="swap--item__category">Korrupsiyaga qarshi kurash</div>
						  <a href="#!" class="swap--item__link"></a>
						</div>
					  <div class="slide--swap__item">
						  <img src="asssets/images/photo_2021-11-22_16-05-48-218x150.jpg" alt="" class="swap--item__img">
						  <div class="swap--item--details">
								<h3 class="swipe__item--theme">Muzrabotgaga olib kelingan 181 ming 440 doza Moderna vaksinasi barcha tumanlarga tarqatildi</h3>
							  <h4>Admin <span>- Sentabr 24, 22</span> </h4>
							  <p></p>
						  </div>
						  <div class="swap--item__category">Korrupsiyaga qarshi kurash</div>
						  <a href="#!" class="swap--item__link"></a>
						</div>
					  
				  </li>
				  <li class="splide__slide slide-swap">
					  <div class="slide--swap__item">
						  <img src="asssets/images/photo_2021-11-22_16-05-48-324x235.jpg" alt="" class="swap--item__img">
						  <div class="swap--item--details">
								<h3 class="swipe__item--theme">Muzrabotdada kechayotgan Prezident maktabi imtihonlarida o’quvchilarning ota- onalari ixtiyoriy emlandi</h3>
							  <h4>Admin <span>- Sentabr 24, 22</span> </h4>
							  <p></p>
						  </div>
						  <div class="swap--item__category">Korrupsiyaga qarshi kurash</div>
						  <a href="#!" class="swap--item__link"></a>
						</div>
					  <div class="slide--swap__item">
						  <img src="asssets/images/photo_2021-08-05_10-36-37-324x235.jpg" alt="" class="swap--item__img">
						  <div class="swap--item--details">
								<h3 class="swipe__item--theme">Tarbiyadagi xatolar, boladagi injiqlik va gadjetlar – bolalar psixologi bilan suhbat</h3>
							  <h4>Admin <span>- Sentabr 24, 22</span> </h4>
							  <p></p>
						  </div>
						  <div class="swap--item__category">Korrupsiyaga qarshi kurash</div>
						  <a href="#!" class="swap--item__link"></a>
						</div>
					  <div class="slide--swap__item">
						  <img src="asssets/images/photo_2021-05-26_11-15-28-218x150.jpg" alt="" class="swap--item__img">
						  <div class="swap--item--details">
								<h3 class="swipe__item--theme">Koronavirus (Covid-19) kasalligi — JSST ko’rsatmalari</h3>
							  <h4>Admin <span>- Sentabr 24, 22</span> </h4>
							  <p></p>
						  </div>
						  <div class="swap--item__category">Korrupsiyaga qarshi kurash</div>
						  <a href="#!" class="swap--item__link"></a>
						</div>
					  <div class="slide--swap__item">
						  <img src="asssets/images/photo_2021-02-24_21-47-21-218x150.jpg" alt="" class="swap--item__img">
						  <div class="swap--item--details">
								<h3 class="swipe__item--theme">40 ming doza AstraZeneca vaksinasi Muzrabotgaga olib kelindi</h3>
							  <h4>Admin <span>- Sentabr 24, 22</span> </h4>
							  <p></p>
						  </div>
						  <div class="swap--item__category">Korrupsiyaga qarshi kurash</div>
						  <a href="#!" class="swap--item__link"></a>
						</div>
					  
				  </li>
				  
				  
				  
			  </ul>
		</div>
	  </section>

      <section class="article container center">
        <div class="contact--info" >
          <div class="head--router">
              <a href="index.html">Bosh sahifa</a>
              <span class="icon-chevrone"></span>
              <p>Hudud markazlari</p>
          </div>
         
          <div class="contact--info--more">
            <h3>Hududiy Markazlar</h3>
            {% for markaz in markazlar %}
            <div class="centers--location">
                <h3>{{markaz.title}}</h3>
                <p><span>Rahbar:</span>{{markaz.rahbar}}</p>
                <p><span>Manzil:</span>{{markaz.manzil}}
                </p>
                <p><span>Qabul:</span> {{markaz.qabul}}</p>
                <p><span>Telefon:</span>{{markaz.telefon}}</p>
                <p><span>Email:</span>{{markaz.email}}</p>
            </div>
            {% endfor %}
        </div>          
      </div>
         
    
    </section>

{% endblock %}